body{
    margin: 0;
}
a{
    text-decoration: none;
}
#top{
    background-color: black;
}
.top_menu{
    margin-left: 400px;
}

#top li{
    display: inline-block;
    list-style: none;
    width: 140px;
    text-align: center;
}
#top li a {
    text-decoration: none;
    display: block;
    color: white;
    background: #565656;
    padding: 10px;
}
.logo{
    display: inline-block;
}
.search{
    display: inline-block;
    margin-left: 134px;
}
.container{
    margin-left: 470px;
}
#left_menu li {
    list-style: none;

}
