body{
    margin: 0 auto;
}
a{
    text-decoration: none;
}
ul{
    padding: 0;
}
header{
    width: 100%;
}
#top{
    background-color: black;
    width: 100%;
}
.top_menu{
    width: 1000px;
    margin: 0 auto;
}

#top li{
    display: inline-block;
    list-style: none;
    width: 140px;
    text-align: center;
    margin-left: -6px;
}

#top li.active a{
    background: rosybrown;

}

#top li a {
    text-decoration: none;
    display: block;
    color: white;
    background: #565656;
    padding: 10px;
}
.logo{
    display: inline-block;
}
.search{
    display: inline-block;
    margin-left: 134px;
}
.container{
    margin-left: 470px;
}

main{
    overflow: hidden;
    width: 1000px;
    margin: 0 auto;
}
footer{
    width: 1000px;
    margin: 0 auto;
}
#left_menu{
    float: left;
    width: 200px;
}
#left_menu li {
    list-style: none;

}
.article{
    float: left;
    width: 780px;
    padding: 0 0 0 20px;
}

.head_filter{
    overflow: hidden;
    padding-left: 21px;
}
